<div class="chart-container">
  <h1 class="app-title">Compound Calculator</h1>

  <div class="responsive-layout">
    <!-- Chart Section -->
    <div class="chart-section">
      <div class="chart-wrapper">
        <canvas id="barChart"></canvas>
      </div>
    </div>

    <!-- Control Section -->
  <div class="control-section">
      <div class="control-group">
          <label class="control-label">Years</label>
          <div class="number-control">
            <button type="button" class="control-btn" (click)="decrementYears()">-</button>
            <div class="control-value-center"> {{ years() }}</div>
            <button type="button" class="control-btn" (click)="incrementYears()">+</button>
          </div>
      </div>
        <div class="control-group">
          <label class="control-label">Rate of Return</label>
          <div class="number-control">
            <button type="button" class="control-btn" (click)="decrementRate()">-</button>
            <div class="control-value-center"> {{ interestRate() | percent }}</div>
            <button type="button" class="control-btn" (click)="incrementRate()">+</button>
          </div>
      </div>
    <!-- Starting Amount + Monthly Added -->
      <div class="control-group-row">
          <div class="control-group-half">
            <label class="control-label">Starting Amount</label>
            <input matInput class="control-input" type="number" [formField]="inputForm.startingAmount">
            @if (inputForm.startingAmount().invalid()) {
              <div class="error">
              <span>{{ inputForm.startingAmount().errors()[0]?.message }}</span>
              </div>
            }
          </div>

          <div class="control-group-half">
            <label class="control-label">Monthly Added</label>
            <input matInput class="control-input" type="number" [formField]="inputForm.monthlyAdded">
            @if (inputForm.monthlyAdded().invalid()) {
              <div class="error">
              <span>{{ inputForm.monthlyAdded().errors()[0]?.message }}</span>
              </div>
            }
          </div>
        </div>
      @if(debug) {
      <div class="form-debug">
        <h3>Current Form Values:</h3>
        <p>Years: {{ years() }}</p>
        <p>rate of return: {{ interestRate() | percent }}</p>
        <p>StartingAmount: {{ inputForm.startingAmount().value() }}</p>
        <p>monthlyAdded: {{ inputForm.monthlyAdded().value() }}</p>
      </div>
      }
      <div class="Results">
          <h3>Results:</h3>
          <div class="results-layout">
            <div class="result-main">
              <span class="result-label-main">Total Amount</span>
              <span class="result-value-main">{{ getFinalTotalAmount() | currency }}</span>
            </div>
            <div class="result-secondary">
              <p class="result-item-small">
                <span class="result-label-small">Interest Earned:</span>
                <span class="result-value-small">{{ getFinalInterestEarned() | currency }}</span>
              </p>
              <p class="result-item-small">
                <span class="result-label-small">Invested Principal:</span>
                <span class="result-value-small">{{ getFinalPrincipal() | currency }}</span>
              </p>
            </div>
          </div>
        </div>
  </div>
</div>
